<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="Description" content="Fair Housing Elements Leaderboard" />
    <title>Fair Housing Elements Leaderboard</title>
    <link rel="stylesheet" href="leaderboard.css" />
  </head>

  <body>
    <div id="leaderboard-container" class="leader_lists_wrapper">
      <div class="leaders_list list">
        <div class="list__header">
          <h5>fair housing elements leaders</h5>
          <h1>🏅 Overall</h1>
        </div>
        <div class="list__body">
          <table class="list__table">
            <tbody>
              <tr
                class="list__row"
                v-for="(volunteer, idx) in total"
                :key="volunteer.name"
              >
                <td class="list__cell">
                  <span class="list__value">{{ idx + 1}}</span>
                </td>
                <td class="list__cell">
                  <span class="list__value">
                    <span v-if="idx == 0">🥇 </span>{{ volunteer.name }}</span
                  ><small class="list__label">{{ volunteer.location }}</small>
                </td>
                <td class="list__cell">
                  <span class="list__value">{{ volunteer.score }} 🌟</span
                  ><small class="list__label">Points</small>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="individual_sublists_wrapper">
        <div class="calendar_list list">
          <div class="list__header">
            <h5>fair housing elements leaders</h5>
            <h1>🗓️ Calendar</h1>
          </div>
          <div class="list__body">
            <table class="list__table">
              <tbody>
                <tr
                  class="list__row"
                  v-for="(volunteer, idx) in calendar"
                  :key="volunteer.name"
                >
                  <td class="list__cell">
                    <span class="list__value">{{ idx + 1}}</span>
                  </td>
                  <td class="list__cell">
                    <span class="list__value">
                      <span v-if="idx == 0">🥇 </span>{{ volunteer.name }}</span
                    ><small class="list__label">{{ volunteer.location }}</small>
                  </td>
                  <td class="list__cell">
                    <span class="list__value">{{ volunteer.score }} 🌟</span
                    ><small class="list__label">Points</small>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="meeting_list list">
          <div class="list__header">
            <h5>fair housing elements leaders</h5>
            <h1>📝 Meeting Reports</h1>
          </div>
          <div class="list__body">
            <table class="list__table">
              <tbody>
                <tr
                  class="list__row"
                  v-for="(volunteer, idx) in meeting"
                  :key="volunteer.name"
                >
                  <td class="list__cell">
                    <span class="list__value">{{ idx + 1}}</span>
                  </td>
                  <td class="list__cell">
                    <span class="list__value">
                      <span v-if="idx == 0">🥇 </span>{{ volunteer.name }}</span
                    ><small class="list__label">{{ volunteer.location }}</small>
                  </td>
                  <td class="list__cell">
                    <span class="list__value">{{ volunteer.score }} 🌟</span
                    ><small class="list__label">Points</small>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="homework_list list">
          <div class="list__header">
            <h5>fair housing elements leaders</h5>
            <h1>📓 Homework</h1>
          </div>
          <div class="list__body">
            <table class="list__table">
              <tbody>
                <tr
                  class="list__row"
                  v-for="(volunteer, idx) in homework"
                  :key="volunteer.name"
                >
                  <td class="list__cell">
                    <span class="list__value">{{ idx + 1}}</span>
                  </td>
                  <td class="list__cell">
                    <span class="list__value">
                      <span v-if="idx == 0">🥇 </span>{{ volunteer.name }}</span
                    ><small class="list__label">{{ volunteer.location }}</small>
                  </td>
                  <td class="list__cell">
                    <span class="list__value">{{ volunteer.score }} 🌟</span
                    ><small class="list__label">Points</small>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- end individual leader lists -->
      <div class="geographic_sublists_wrapper wrapper">
        <div class="county_list list">
          <div class="list__header">
            <h5>fair housing elements</h5>
            <h1>🏛️ Top Counties</h1>
          </div>
          <div class="list__body">
            <table class="list__table">
              <tbody>
                <tr class="list__row">
                  <td class="list__cell"><span class="list__value">1</span></td>
                  <td class="list__cell">
                    <span class="list__value">🥇 Lewis Hamilton</span
                    ><small class="list__label">3 Watchdogs</small>
                  </td>
                  <td class="list__cell">
                    <span class="list__value">95 🌟</span
                    ><small class="list__label">Points</small>
                  </td>
                </tr>
                <tr class="list__row">
                  <td class="list__cell"><span class="list__value">2</span></td>
                  <td class="list__cell">
                    <span class="list__value">Sebastian Vettel</span
                    ><small class="list__label">2 Watchdogs</small>
                  </td>
                  <td class="list__cell">
                    <span class="list__value">78 🌟</span
                    ><small class="list__label">Points</small>
                  </td>
                </tr>
                <tr class="list__row">
                  <td class="list__cell"><span class="list__value">3</span></td>
                  <td class="list__cell">
                    <span class="list__value">Valtteri Bottas</span
                    ><small class="list__label">3 Watchdogs</small>
                  </td>
                  <td class="list__cell">
                    <span class="list__value">58 🌟</span
                    ><small class="list__label">Points</small>
                  </td>
                </tr>
                <tr class="list__row">
                  <td class="list__cell"><span class="list__value">4</span></td>
                  <td class="list__cell">
                    <span class="list__value">Kimi Räikkönen</span
                    ><small class="list__label">1 Watchdog</small>
                  </td>
                  <td class="list__cell">
                    <span class="list__value">48 🌟</span
                    ><small class="list__label">Points</small>
                  </td>
                </tr>
                <tr class="list__row">
                  <td class="list__cell"><span class="list__value">5</span></td>
                  <td class="list__cell">
                    <span class="list__value">Daniel Ricciardo</span
                    ><small class="list__label">1 Watchdog</small>
                  </td>
                  <td class="list__cell">
                    <span class="list__value">47 🌟</span
                    ><small class="list__label">Points</small>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="cities_list list">
          <div class="list__header">
            <h5>fair housing elements leaders</h5>
            <h1>🏙️ Cities</h1>
          </div>
          <div class="list__body">
            <table class="list__table">
              <tbody>
                <tr class="list__row">
                  <td class="list__cell"><span class="list__value">1</span></td>
                  <td class="list__cell">
                    <span class="list__value">Stockton</span
                    ><small class="list__label">3 Watchdogs</small>
                  </td>
                  <td class="list__cell">
                    <span class="list__value">95 🌟</span
                    ><small class="list__label">Points</small>
                  </td>
                </tr>
                <tr class="list__row">
                  <td class="list__cell"><span class="list__value">2</span></td>
                  <td class="list__cell">
                    <span class="list__value">Sacramento</span
                    ><small class="list__label">2 Watchdogs</small>
                  </td>
                  <td class="list__cell">
                    <span class="list__value">78 🌟</span
                    ><small class="list__label">Points</small>
                  </td>
                </tr>
                <tr class="list__row">
                  <td class="list__cell"><span class="list__value">3</span></td>
                  <td class="list__cell">
                    <span class="list__value">Cupertino</span
                    ><small class="list__label">3 Watchdogs</small>
                  </td>
                  <td class="list__cell">
                    <span class="list__value">58 🌟</span
                    ><small class="list__label">Points</small>
                  </td>
                </tr>
                <tr class="list__row">
                  <td class="list__cell"><span class="list__value">4</span></td>
                  <td class="list__cell">
                    <span class="list__value">Modesto</span
                    ><small class="list__label">1 Watchdog</small>
                  </td>
                  <td class="list__cell">
                    <span class="list__value">48 🌟</span
                    ><small class="list__label">Points</small>
                  </td>
                </tr>
                <tr class="list__row">
                  <td class="list__cell"><span class="list__value">5</span></td>
                  <td class="list__cell">
                    <span class="list__value">San Francisco</span
                    ><small class="list__label">1 Watchdog</small>
                  </td>
                  <td class="list__cell">
                    <span class="list__value">47 🌟</span
                    ><small class="list__label">Points</small>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- end geographic sublists wrapper -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="bundle.js"></script>
  </body>
</html>
