<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="Description" content="Fair Housing Elements Leaderboard" />
    <title>Fair Housing Elements Leaderboard</title>

    <!--
      these three scripts should be included in page head or footer
      bundle.js and leaderboard.css should be prefixed with
      https://yimbydata.github.io/housing-element/ in production
    -->
    <link rel="stylesheet" href="leaderboard.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="bundle.js"></script>
  </head>

  <body>
    <!-- each of the four blocks below are pasteable in sqs code blocks -->
    <div class="list__body">
      <table class="list__table">
        <tbody>
          <tr
            class="list__row"
            v-for="(volunteer, idx) in total"
            :key="volunteer.name"
          >
            <td class="list__cell">
              <span class="list__value">{{ idx + 1 }}</span>
            </td>
            <td class="list__cell">
              <span class="list__value">
                <span v-if="idx == 0">🥇 </span>{{ volunteer.name }}</span
              ><small class="list__label">{{ volunteer.location }}</small>
            </td>
            <td class="list__cell">
              <span class="list__value">{{ volunteer.score }} 🌟</span
              ><small class="list__label">Points</small>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="list__body">
      <table class="list__table">
        <tbody>
          <tr
            class="list__row"
            v-for="(volunteer, idx) in calendar"
            :key="volunteer.name"
          >
            <td class="list__cell">
              <span class="list__value">{{ idx + 1 }}</span>
            </td>
            <td class="list__cell">
              <span class="list__value">
                <span v-if="idx == 0">🥇 </span>{{ volunteer.name }}</span
              ><small class="list__label">{{ volunteer.location }}</small>
            </td>
            <td class="list__cell">
              <span class="list__value">{{ volunteer.score }} 🌟</span
              ><small class="list__label">Points</small>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="list__body">
      <table class="list__table">
        <tbody>
          <tr
            class="list__row"
            v-for="(volunteer, idx) in meeting"
            :key="volunteer.name"
          >
            <td class="list__cell">
              <span class="list__value">{{ idx + 1 }}</span>
            </td>
            <td class="list__cell">
              <span class="list__value">
                <span v-if="idx == 0">🥇 </span>{{ volunteer.name }}</span
              ><small class="list__label">{{ volunteer.location }}</small>
            </td>
            <td class="list__cell">
              <span class="list__value">{{ volunteer.score }} 🌟</span
              ><small class="list__label">Points</small>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="list__body">
      <table class="list__table">
        <tbody>
          <tr
            class="list__row"
            v-for="(volunteer, idx) in homework"
            :key="volunteer.name"
          >
            <td class="list__cell">
              <span class="list__value">{{ idx + 1 }}</span>
            </td>
            <td class="list__cell">
              <span class="list__value">
                <span v-if="idx == 0">🥇 </span>{{ volunteer.name }}</span
              ><small class="list__label">{{ volunteer.location }}</small>
            </td>
            <td class="list__cell">
              <span class="list__value">{{ volunteer.score }} 🌟</span
              ><small class="list__label">Points</small>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
